@use "../helpers" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: rem(10) rem(16);
  font-size: rem(12);
  font-weight: 600;
  color: var(--color-dark-alt);
  white-space: nowrap;
  border: rem(1) solid var(--color-dark-alt);
  border-radius: rem(4);
  background-color: transparent;
  min-width: rem(136);
  line-height: 0.6;
  max-height: rem(28);
  @include mobile {
    padding: rem(14) rem(33);
    min-width: rem(181);
    line-height: 1;
    max-height: rem(43);
    min-height: rem(43);
  }

  @include hover {
    border-color: var(--color-yellow);
    background-color: var(--color-yellow);
  }

  &:active {
    border-color: var(--color-yellow-alt);
    background-color: var(--color-yellow-alt);
  }

  &--soc1als {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-dark-alt);
    border: rem(1) solid var(--color-dark-alt);
    border-radius: rem(4);
    background-color: transparent;
    max-width: rem(28);
    min-width: rem(28);
    max-height: rem(28);
    padding: rem(8) 0;
    filter: contrast(0);

    & .whatsup {
      @include mobile {
        transform: scale(1.25);
      }
    }

    @include mobile {
      max-width: rem(43);
      min-width: rem(43);
      max-height: rem(43);
      filter: contrast(1);
      padding: rem(17) 0;

      &:nth-child(2) {
        padding: rem(15) 0;
      }

      &:nth-child(3) {
        padding: rem(15) 0;
      }

      @include hover {
        filter: invert(56%) sepia(99%) saturate(741%) hue-rotate(359deg)
          brightness(98%) contrast(101%);
      }
    }

    @include hover {
      filter: contrast(1);
    }

    &:active {
      filter: invert(56%) sepia(99%) saturate(741%) hue-rotate(359deg)
        brightness(98%) contrast(101%);
    }
  }
}
