@use "../helpers" as *;

.reviews {
  padding-bottom: rem(100);
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
  }

  &__title {
    font-weight: 800;
    font-size: rem(42);
    color: var(--color-dark);

    @include mobile {
      font-size: rem(28);
      text-align: center;
    }
  }

  &__button {
    padding: rem(19) rem(46);
    font-size: rem(16);
    border-radius: rem(8);
    min-height: rem(49);

    @include tablet {
      @include visually-hidden;
    }
  }

  &__bg-image {
    object-fit: contain;
    width: 100%;
  }

  &__description {
    text-align: center;
    font-size: rem(24);
    font-weight: 600;

    padding-bottom: rem(35);
    &--yellow {
      color: var(--color-yellow-alt);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(18) rem(30);

    @include laptop {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    min-width: rem(392);
    min-height: rem(115);
    padding-block: rem(24);
    border-radius: rem(15);
    box-shadow: 0 0 rem(23) 0 rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: rem(11);
    border: rem(1) solid rgba(0, 0, 0, 0.07);

    &-description {
      font-size: rem(14);
      line-height: 129%;
      color: rgba(47, 40, 37, 0.7);
    }

    @include laptop {
      max-width: 100%;
    }

    @include mobile {
      min-width: rem(330);
    }
  }

  &__rating {
    display: flex;
    column-gap: rem(21);
    align-items: center;

  }

  &__star {
    display: inline-flex;
    column-gap: rem(4);
    align-items: center;

    &-text {
      font-weight: 800;
      font-size: rem(43);
      line-height: 114%;
      letter-spacing: -0.05em;
      color: var(--color-yellow-alt);
    }

    & * {
      color: var(--color-yellow-alt);
    }
  }
}