@use "../helpers" as *;

.time {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(55);
  align-items: center;
  justify-content: space-between;
  padding-block: rem(200);

  @include mobile {
    grid-template-columns: 1fr;
    gap: rem(25);
  }

  &__title {
    color: var(--color-dark);
    font-size: fluid(42, 28);
    font-weight: 800;
    padding-bottom: rem(72);

    &--yellow {
      color: var(--color-yellow-alt);
    }

    @include laptop {
      font-size: rem(34);
      padding-bottom: rem(32);
    }

    @include tablet {
      font-size: rem(28);
      padding-bottom: rem(16);
    }

    @include mobile {
      order: -1;
    }
  }

  &__description {
    color: var(--color-dark);
    font-size: rem(22);
    line-height: rem(28);

    &--bold {
      font-weight: 600;
    }

    &--yellow {
      color:  var(--color-yellow-alt);
      font-weight: 600;
    }

    @include mobile {
      order: 4;
    }
  }

  &__info {
    display: grid;
    row-gap: rem(35);

    @include mobile {
      row-gap: rem(30);
    }
  }

  &__main {
    @include mobile {
      display: contents;
    }
  }
}